# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ZeroBytes/ZeroBytes/My Advisor Results - ZeroBytes
/ZeroBytes/ZeroBytes.VC.db
/ZeroBytes/ZeroBytes.VC.VC.opendb
/ZeroBytes/ZeroBytes/.infile.txt.swp
/ZeroBytes/ZeroBytes/.infile.txt.un~
/ZeroBytes/Debug
